body {
  font-family: garamond, serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #81b9ef, #3498eb);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #69a3da, #077dde);
}

::-webkit-scrollbar-button { 
    display: flex;
}